<h2>Hi <%= current_user.email %></h2>
<h5>My subscriptions</h5>
<ul>
  <% if @subscriptions.empty? %>
    <li>You haven't subscribed to any campaigns yet. <%= link_to "Go subscribe!", campaigns_path %></li>
  <% end %>
  <% @subscriptions.each do |campaign_sub| %>
    <li><%= campaign_sub.caffeinate_campaign.name %> (<%= link_to "Manage", campaign_subscription_path(token: campaign_sub.token) %>)</li>
  <% end %>

</ul>
<hr />
<%= button_to "Delete my account and all the data please", "/users", method: :delete %>
